#請使用自己本地設定的pg密碼跟db名稱
DATABASE_URL= postgres://postgres:000000@localhost:5432/postgres

# 綠界金流設定
ECPAY_MERCHANT_ID=3002607
ECPAY_HASH_KEY=pwFHCqoQZGmho4w6
ECPAY_HASH_IV=EkRm7iFT261dpevs
# 綠界回傳 URL - 這是綠界伺服器會 POST 交易結果到您的後端的 URL
ECPAY_RETURN_URL=https://yourdomain.com/api/ecpay/callback
# 綠界客戶端跳轉 URL - 這是支付完成後，消費者瀏覽器會跳轉回來的 URL
ECPAY_CLIENT_BACK_URL=https://yourdomain.com/payment-success

